@model IEnumerable<Cinema.Web.Models.DTOs.ListShowDTO>

@{
    ViewData["Title"] = "Mai műsorajánlat";
}

<h1>Mai műsorajánlat</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cím</th>
            <th>Kezdés időpontja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Foglalás</a>
                </td>
            </tr>
        }
    </tbody>
</table>
